body {
    margin: 0;
    background-color: #494949;
    overflow-x: hidden;
    background-image: url("background.png");
}
::-webkit-scrollbar {
    width: 5px;

}
::-webkit-scrollbar-thumb {
    background-color: #ffad00;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}


body .vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
}

body .vertical-container .cover-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px;
    padding: 50px;
    height: 60vh;
    max-width: 60vw;
}

body .vertical-container .cover-section .subcontainer {
    background-color: #343434;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;

    border-radius: 25px;
}

body .vertical-container .cover-section img {
    width: 300px;
    max-width: 50vw;
    transition: 0.3s;
    transform: scale(1.5);
}

body .vertical-container .cover-section img:hover {
    transform: scale(1.6);
}

body .vertical-container .cover-section h1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    padding-top: 10px;

    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: white;
}
body .vertical-container .cover-section h2 {
    margin-top: 3px;

    font-family: "Segoe UI", sans-serif;
    font-weight: normal;

    color: white;
}



body .vertical-container .option-section {
    background-color: #343434;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-bottom: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

body .vertical-container .option-section .header {
    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: white;
}

body .vertical-container .option-section .container {
    padding: 10px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
body .vertical-container .option-section a {
    text-decoration: none;
}
body .vertical-container .option-section .card {
    width: 250px;
    height: 350px;
    max-height: 300px;
    text-align: center;
}

body .vertical-container .option-section .card-content {
    width: 90%;
    height: 95%;
    background: #191a19;

    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s all ease-in-out;

    font-family: "Segoe UI", sans-serif;
}

body .vertical-container .option-section .card-content img {
    width: 60%;
    transition: 0.3s;
}
body .vertical-container .option-section .card-content h3{
    transition: 0.3s;
    color: #fff;
}
body .vertical-container .option-section .card-content p{
    transition: 0.3s;
    color: #fff;
}
body .vertical-container .option-section .card-content:hover {
    transform: translateY(-10px);
    background-color: #ffad00;
}
body .vertical-container .option-section .card-content:hover img{
    transform: scale(1.5) translateY(-15px);
}
body .vertical-container .option-section .card-content:hover h3{
    color: #000;
}
body .vertical-container .option-section .card-content:hover p{
    color: #000;
}

body .vertical-container .option-section .card-header {
     text-transform: uppercase;
     font-size: 20px;
     font-family: "Segoe UI Semibold", sans-serif;

 }


body .vertical-container .contact-section {
    background-color: #343434;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-bottom: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
}
body .vertical-container .contact-section h1 {
    font-family: "Segoe UI Semibold", sans-serif;
    font-weight: normal;
    color: white;

    margin: 0;
}
body .vertical-container .contact-section h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    color: white;

    margin: 0;
    padding-bottom: 15px;
}
body .vertical-container .contact-section h2 a {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    color: white;
    text-decoration: #545454;
}

@media only screen and (max-width: 600px) {
    body .vertical-container .cover-section h1 {
        font-size: 36px;
    }
    body .vertical-container .cover-section h2 {
        margin-top: 3px;

        font-family: "Segoe UI", sans-serif;
        font-weight: normal;

        color: white;
    }

    body .vertical-container .option-section .header {
        font-size: 36px;
    }
}
